body {
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

p {
	word-spacing: 620px;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	text-align: center;
	margin: 0
  }

label {
	display: block;
	margin-left: 35px;
	margin-bottom: 15px;
	font-size: 20px;
}

input {
	padding: 15px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 25px;
	width: 80%;
	box-sizing: border-box;
	margin-left: 20px;
	margin-bottom: 20px;
	display: block;
}

button{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    line-height: 1.75;
    color: rgb(255, 255, 255);
    min-width: 64px;
    padding: 6px 16px;
    background-color: rgb(73, 149, 87);
    border-radius: 29px;
    width: 80px;
    font-weight: 600;
    font-size: 20px;
    box-shadow: none !important;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 6px;
}

button:hover {
	background-color: darkgreen;
}

#copy-button1{
	width: 300px;
	height: 40px;
	left: 225px;
}
#copy-button2{
	width: 300px;
	height: 40px;
	left: 730px;
}
#container{
	text-align: center;
}

#formatted-citation {
	width: 46%;
	height: 400px;
	border: 3px solid #FFB6C1;
	padding: 10px;
	box-sizing: border-box;
	overflow-y: scroll;
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 20px;
	border-radius: 25px;
  }
  
  #bibtex-citation {
	width: 46%;
	height: 400px;
	border: 3px solid #FFB6C1;
	padding: 10px;
	box-sizing: border-box;
	overflow-y: scroll;
	float: right;
	margin-top: 20px;
	margin-right: 30px;
	margin-bottom: 20px;
	border-radius: 25px;
  }
  
